body {
    background: #684040; 
    color: silver;
}

#list{
    background-color: white;
    color: black;
    width: 100%;
}

#list th{
    color: white;
    background-color: black;
}

select, table, button, img {
    margin: 1rem;

}