body {
    background: #684040; 
    color: silver;
}

#list{
    background-color: white;
    color: black;
    width: 100%;
    border-collapse: collapse;
}

#list th{
    color: white;
    background-color: black;
}

select, table, button, img {
    margin: 1rem;

}

.thumb{
    width:3rem;
    height:3rem;
    /* object-fit: contain; */
    object-fit: cropped;

}

.gigantic{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}